@(postForm: Form[models.Post], users: java.util.List[User], categories: java.util.List[Category])
@post = @{postForm.get}
@main(title = "Blog | Admin panel", headerType = "admin") {
  <h1>Edit post</h1>

  <p><a href="admin_@routes.Blog.all()">< Back to posts</a></p>

  @* Global errors can be rendered in the following way *@
  @if(postForm.hasGlobalErrors) {
    <p class="error">
    @for(error <- postForm.globalErrors) {
      @Messages(error.messages, error.arguments.toArray: _*) <br>
    }
    </p>
  }

  @* Errors for a particular field can be rendered in the following manner *@
  @for(error <- postForm("name").errors) {
    <p class="error">@Messages(error.messages, error.arguments.toArray: _*)</p>
  }

  @helper.form(if (post.id == null) routes.Admin.createPost() else routes.Admin.savePost(post.id), 'id -> "PostAdminEditForm") {
    <div class="row">
      <div class="col-md-6">
        <div class="form-group required">
          <label for="PostName">Name :</label>
          <input name="name" class="form-control" maxlength="255" type="text" value="@postForm("name").value" id="PostName" required="required">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group required">
          <label for="PostSlug">Slug :</label>
          <input name="slug" class="form-control" maxlength="255" type="text" value="@postForm("slug").value" id="PostSlug" required="required">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="PostCategoryId">Category :</label>
          <select name="category.id" class="form-control" id="PostCategoryId">
           @for(c <- categories) {
            <option value="@c.id" @if(post.category != null && c.id == post.category.id) {selected="selected"}>@c.name</option>
          }
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="PostUserId">Author :</label>
          <select name="user.id" class="form-control" id="PostUserId">
           @for(u <- users) {
            <option value="@u.id" @if(post.user != null && post.user.id == u.id) {selected="selected"}>@u.username</option>
          }
          </select>
        </div>
      </div>
    </div>
    <div class="form-group required">
      <label for="PostContent">Content :</label>
      <textarea name="content" class="form-control" cols="30" rows="6" id="PostContent" required="required">@postForm("content").value</textarea>
    </div>
    <div class="submit">
      <input class="btn btn-primary" type="submit" value="Edit">
    </div>
  }
}